%ul
  -@items.each do |item|
    %li.item
      %h2
        %a.name{:href=>"/items/#{item.id}"}= h item.name
      .description= h item.description
      .stock
        Stock:
        =item.stock
      .small
        %a{:href=>"/items/#{item.id}/edit"} edit
        %form{:method=>'post', :action=>"/items/#{item.id}"}
          %input{:type=>'hidden', :name=>'_method', :value=>'DELETE'}
          %input{:type=>'submit', :value=>'Delete'}

%p
  %a{:href=>"/items/new"} new item