.item
  %h2.name= h @item.name
  .description= h @item.description
  .small
    %a{:href=>"/items/#{@item.id}/edit"} edit
    %form{:method=>'post', :action=>"/items/#{item.id}"}
      %input{:type=>'hidden', :name=>'_method', :value=>'DELETE'}
      %input{:type=>'submit', :value=>'Delete'}

%p
  %a{:href=>"/items"} Back to item list